<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css">
  <!-- Set the title of the page to the name of the NPM package -->
</head>
<body>
  <h1>This is the show page!</h1> <!-- Comment this out once you are working in the view -->
  <!-- Using mustache, render the following: -->
  <!-- A h1 tag with package name -->
  <!-- A p tag with the package category -->
  <!-- An img tag with the package's image -->
  <!-- An a tag that links back to all the packages -->

</body>
</html>
